.ButtonStyle-1 {

    background-color: black;
    font-size: 180%;
    color:whitesmoke;
    border-style: none;
    border-radius: 10%;
    border-color: black 10px;
    padding: 03%;
    position: static;
    margin:05%;
}


.ButtonStyle {

    font-size: 150%;
    background-color: aquamarine;
    color: black solid;
    padding: 02%;
    width: 18%;
    text-align: center;   
}

.ButtonContainer {
    align-content: center;
}